@charset "ISO-8859-1";

body {
    font-family: 'Roboto', sans-serif;
	margin: 0;
    overflow: hidden;
}

.page {
    display: flex;
    color: #a5a5a5;
}

nav {
	background: linear-gradient(#252626,#040404);
    padding: 15px;
    width: 15%;
}

nav h1 {
    color: #1db954;
}

#txtSearch {
    background-color: transparent;
    border: none;
    color: #a5a5a5;
    font-size: 14pt;
    width: 90%;
}

.fas {
    align-content: right;
}

nav ul {
	list-style-type: none;
    padding-left: 0;
}

nav li {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

nav li:hover{
    color: #1db954;
}


nav a {
    color: white;
	text-decoration: none;
}

nav a:hover {
    color: black;
}

nav button {
    background-color: transparent;
    border: none;
    color: #a5a5a5;
    font-size: 14pt;
}

nav button:hover {
    color: white;
    cursor: pointer;
}

main {
    align-items: center;
    background: linear-gradient(#4b4c4c,#080808);;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    text-align: left;
    width: 90%;
}

::-webkit-scrollbar {
    height: 76px;
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

table {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
}

table tr {
    padding-bottom: 10px;
}

table th {
    padding-bottom: 10px;
    text-align: left;
    width: 100px;
}

table td {
    padding-bottom: 10px;
    width: 50px;
}

/*
.songTable {
    
}

.songTable th {
    color: black;
}

.songTable td {
    padding: 10px;
}

.artistTable th {
    color: black;
}

.artistTable td {
    padding: 10px;
}

.albumTable th {
    color: black;
}

.albumTable td {
    
}
*/

footer {
    background-color: #282828;
    bottom: 0;
    display: block;
/*    height: 80px;*/
    padding: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}